body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(214, 190, 136);
}

.header {
    margin: 15px;
    padding: 15px;
    background-color: rgb(156, 76, 230);
    color: whitesmoke;
    border: 5px dashed rgb(0, 0, 0);
    border-radius: 15px;
    text-align: center;
}

.nav {
    text-align: center;
    font-weight: 800;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
}

.recipe-body {
    text-align: center;
}

img {
    border: 5px solid black;
    border-radius: 15px;
}

h2, img {
    margin: 15px 0;
}